<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avatar Interface</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="tablet">
    <div class="tablet-screen">
        <div class="app-header">EVA: Elderly Virtual Assistant</div>
        <div class="avatar-container">
            <img id="avatar" src="/static/welcome.gif" alt="Avatar">
            <div class="control-panel">
                <button id="start-interaction" title="Start Interaction"><i class="fas fa-play"></i></button>
                <button id="start-recording" disabled title="Start Recording"><i class="fas fa-microphone"></i></button>
                <button id="stop-recording" disabled title="Stop Recording"><i class="fas fa-stop"></i></button>
            </div>
        </div>
    </div>
    <div class="tablet-home-button"></div>
</div>
<audio id="audio-playback" controls hidden></audio>
<audio id="welcome-audio" src="/static/welcome.wav" hidden></audio>
<div class="log-container">
    <h3>Chat Logs</h3>
    <div id="logs" style="overflow-y: scroll; height: 300px;">
        <!-- Logs will be displayed here -->
    </div>
</div>

<script>
    let mediaRecorder;
    let audioChunks = [];

    document.getElementById("start-interaction").addEventListener("click", function () {
        document.getElementById("welcome-audio").play();
        // Optionally hide the start button after playing the audio
        this.style.display = 'none';
        document.getElementById("start-recording").disabled = false;
    });


    document.getElementById("start-recording").addEventListener("click", function () {
        navigator.mediaDevices.getUserMedia({audio: true})
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start();

                mediaRecorder.addEventListener("dataavailable", event => {
                    audioChunks.push(event.data);
                });

                mediaRecorder.addEventListener("stop", () => {
                    const audioBlob = new Blob(audioChunks);
                    sendAudioToServer(audioBlob);
                    updateAvatarState('respond'); // Change avatar to responding state
                });
                document.getElementById("start-recording").disabled = true;
                document.getElementById("stop-recording").disabled = false;
                updateAvatarState('listen'); // Change avatar to listening state
            });
    });

    document.getElementById("stop-recording").addEventListener("click", function () {
        mediaRecorder.stop();
        document.getElementById("stop-recording").disabled = true;
        audioChunks = []; // Reset the audio chunks array
    });

    function sendAudioToServer(audioBlob) {
        const formData = new FormData();
        formData.append("audio_data", audioBlob);

        $.ajax({
            type: "POST",
            url: "/process_audio",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log("Full AJAX response:", response);
                if (response.file_path) {
                    const audioPlayback = document.getElementById("audio-playback");
                    audioPlayback.src = response.file_path;
                    console.log("File path:", response.file_path);

                    // Change avatar to talking state and play the audio
                    updateAvatarState('talking');
                    audioPlayback.play();

                    // Listener for when audio ends
                    audioPlayback.onended = function () {
                        updateAvatarState('idle');
                        document.getElementById("start-recording").disabled = false;
                    };
                } else {
                    console.error("No file path in response");
                }
            },
            error: function (error) {
                console.error("Error in AJAX request:", error);
                updateAvatarState('idle');
            }
        });
    }

    function fetchAndDisplayLogs() {
        $.ajax({
            type: "GET",
            url: "/get_chat_logs",
            success: function (logs) {
                $('#logs').html(logs.join('<br>'));
            },
            error: function (error) {
                console.error("Error fetching logs:", error);
            }
        });
    }

    setInterval(fetchAndDisplayLogs, 5000); // Fetch logs every 5 seconds


    function updateAvatarState(state) {
        const avatarImg = document.getElementById('avatar');
        switch (state) {
            case 'welcome':
                avatarImg.src = '/static/welcome.gif';
                break;
            case 'listen':
                avatarImg.src = '/static/idle.gif';
                break;
            case 'respond':
                avatarImg.src = '/static/reading.gif';
                break;
            case 'talking':
                avatarImg.src = '/static/talking.gif';
                break;
            default:
                avatarImg.src = '/static/idle.gif';
        }
    }
</script>
</body>
</html>
